*{
    margin:0;
    padding:0;
  }
#nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: lightgray;
}
.nav-bar{
  padding: 0;
}
.nav-logo
{
height: 40px;
padding-left: 20px;
}
.navbar-nav li{
 padding: 0 10px;
}
.navbar-nav li a{
  text-align: left;
  float: right;
}
.fa-bars{
  font-size: 30px;
}
.navbar-toggler{
  outline: none;
}
/*image/title section*/
#titlesection{
background-image: url("https://th.bing.com/th/id/R.af4eeae8ad5d4fc276f1a100ccac8dd2?rik=pJ5bArC746Payg&pid=ImgRaw&r=0");
padding-top: 20%;
image-resolution: 100%;
opacity: 95%;
width: 100%;
}
#titlesection pre{
  text-align: center;
  position: relative;
  left: 50%;
  font-size: 28px;
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
}
/*nav home where it has tab info*/
#nav-home-tabs{
padding: 80px 0;
}
#nav-home-tabs a{
  text-decoration: none;
  color: black;
}
.tabs{
padding: 20px;
}

.h4img{
  width: 100px;
  margin-top: 20px;
}
#nav-home-tabs h4
{
padding: 5px;
margin-top: 25px;
}

/*footer*/
#footer{
  width: 100%;
  background-color: lightgray;
  bottom: 0;
  display: inline-block;
  position: bottom;
  height: 150px;
}
.footer-logo{
width: 100px;
}
#footer p{
position: relative;
position: center;
}

/*contact section*/
#contactsection{
  width: 100%;
  padding-top: 10%;
}
.contacthead{
  font-weight: 500;
  font-size: 32px;
  color: black;
  position: relative;
  left: 50%;
}
.contactmaintext{
  background-color:cornsilk;
}
#contactsection img{
  width: 200px;
}
/*properties section*/
#propsection{
  padding: 80px 0;

}
.propgroup{
padding: 20px;
}
.propmainhead{
  font-size: 32px;
  color: black;
  font-weight: 500;
  position: relative;
  left: 50%;
  padding-top:20px;
  padding-bottom: 40px;
  width: 100%;
}
.propimg{
  width: 400px;
  margin-top: 20px;

}
.propdesc{
  width: 100%;
}

.img-title{
  padding: 5px;
margin-top: 25px;
  
}
/*meetrealtor section*/
#meetsection{
  width: 100%;
  padding-top: 10%;
}
#meetsection img{
  float: right;
 padding: 0 20px 20px 0;
}





